-@ val title: String
-@ val headline: String = title
-@ val body: String

!!!
html
  head
    title= title

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    link(rel='stylesheet' type='text/css' href='webjars/bootstrap/3.3.6/dist/css/bootstrap.min.css')
    link(rel='stylesheet' type='text/css' href='webjars/bootstrap-material-design/0.5.9/dist/css/bootstrap-material-design.min.css')
    link(rel='stylesheet' type='text/css' href='webjars/bootstrap-material-design/0.5.9/dist/css/ripples.min.css')

    link(rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700')
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')

  body
    #content
      nav.navbar.navbar-default
        .navbar-header
          a.navbar-brand(href='#') LOLtools


      .container
        h1= headline
        != body

      script(src='webjars/jquery/2.1.4/dist/jquery.min.js')
      script(src='webjars/bootstrap/3.3.6/dist/js/bootstrap.min.js')
      script(src='webjars/bootstrap-material-design/0.5.9/dist/js/material.min.js')
      script(src='webjars/bootstrap-material-design/0.5.9/dist/js/ripples.min.js')

      :javascript
        $.material.init();
